{% extends 'food/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<div id="demo" class="carousel slide" data-ride="carousel" style="box-shadow: 0px 5px 10px">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570113925/food/place_vfm7xt.jpg" alt="slider1">
        <div class="carousel-caption">
          <h3 style="color: whitesmoke;">Majin Burgers</h3>
          <p>Commander</p>
        </div>   
      </div>
    </div>
</div>

<div class="container p-4">
    <h2 class="text-center">~ Majin Burgers ~</h2>
    <h4 class="text-center pb-4" style="color: rgb(43, 42, 42)">⊰ ∼∼.∼∼ ⊱</h4>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 p-1">
            <br>
            <p class="par">Rendez-vous au The Restaurant pour déguster nos plats. Si vous souhaitez reserver 
                une table, vous pouvez nous contacter par email ou téléphone.</p>
            <p>Vous pouvez commander via une plateforme partenaire</p>
            <ul class="list-inline text-center">
                <li class="list-inline-item p-2"><img src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570115088/food/uber_j4uswu.png" class="img rounded" height="50px" width="50px"></li>
                <li class="list-inline-item p-2"><img src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570115089/food/deliveroo_m6cdtc.png" class="img rounded" height="50px" width="50px"></li>
                <li class="list-inline-item p-2"><img src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570115088/food/just_zmwhej.jpg" class="img rounded" height="50px" width="50px"></li>
            </ul>
            <p>Un autre modèle de site pour Restaurant:</p>
            <p><a href="https://lerestaurant.netlify.com/" target="_blank">lerestaurant.netifly.com</a></p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 bg" data-aos="fade-up">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1391.4732141096401!2d4.878310658069345!3d45.77226386565072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDQ2JzIwLjEiTiA0wrA1Mic0NS45IkU!5e0!3m2!1sfr!2sfr!4v1563445380037!5m2!1sfr!2sfr"
                width="100%" height="350" frameborder="0" style="border:0; box-shadow: 5px 5px 5px #888888;" allowfullscreen></iframe>
        </div>
        <div class="col-md-1"></div>

    </div>

</div>
<div class="container-fluid p-4">
<div class="row">
    <div class="col-md-3">
        <img class="img-fluid voir" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1564901937/food/photo-1414235077428-338989a2e8c0_tb8nv9.jpg" data-toggle="modal" data-target="#myModal">
    </div>
    <div class="col-md-3">
        <img class="img-fluid voir" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1564901930/food/pexels-photo-723031_ays62y.jpg" data-toggle="modal" data-target="#myModal2">
    </div>
    <div class="col-md-3">
        <img class="img-fluid voir" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570115473/food/g1_izhc7l.jpg" data-toggle="modal" data-target="#myModal3">
    </div>
    <div class="col-md-3">
        <img class="img-fluid voir" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570115473/food/g4_bg4z6c.jpg" data-toggle="modal" data-target="#myModal4">
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

    <!-- Modal body -->
        <div class="modal-body">
            <img class="img-fluid" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1564901937/food/photo-1414235077428-338989a2e8c0_tb8nv9.jpg">
        </div>
    
        </div>
    </div>
</div>
<div class="modal" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

    <!-- Modal body -->
        <div class="modal-body">
            <img class="img-fluid" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1564901930/food/pexels-photo-723031_ays62y.jpg">
        </div>
    
        </div>
    </div>
</div>
<div class="modal" id="myModal3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

    <!-- Modal body -->
        <div class="modal-body">
            <img class="img-fluid" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570115473/food/g1_izhc7l.jpg">
        </div>
    
        </div>
    </div>
</div>
<div class="modal" id="myModal4">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

    <!-- Modal body -->
        <div class="modal-body">
            <img class="img-fluid" src="https://res.cloudinary.com/dxflxf2nv/image/upload/v1570115473/food/g4_bg4z6c.jpg">
        </div>
    
        </div>
    </div>
</div>
</div>

{% endblock %}